/JavaExample1/nbproject/private/
/JavaExample1/build/
/Time/nbproject/private/
/Time/build/
/Echo/nbproject/private/
/Echo/build/
/CelsiusToFahrenheit/nbproject/private/
/CelsiusToFahrenheit/build/
/SecondConvert/nbproject/private/
/SecondConvert/build/
/GuessStarter/nbproject/private/
/GuessStarter/build/
/PrintAmerican/nbproject/private/
/PrintAmerican/build/
/BottlesOfBeer/nbproject/private/
/BottlesOfBeer/build/
/GuessStarter2/nbproject/private/
/GuessStarter2/build/
/IsTriangle/nbproject/private/
/IsTriangle/build/
/OddSum/nbproject/private/
/OddSum/build/
/Ackermann/nbproject/private/
/Ackermann/build/
/AreFactors/nbproject/private/
/AreFactors/build/
/IsAbecedarian/nbproject/private/
/IsAbecedarian/build/
/IsDoubloon/nbproject/private/
/IsDoubloon/build/
/Anagram/nbproject/private/
/Anagram/build/