/JavaExample1/nbproject/private/
/JavaExample1/build/
/Time/nbproject/private/
/Time/build/
/Echo/nbproject/private/
/Echo/build/
/CelsiusToFahrenheit/nbproject/private/
/CelsiusToFahrenheit/build/
/SecondConvert/nbproject/private/
/SecondConvert/build/
/GuessStarter/nbproject/private/
/GuessStarter/build/